<!DOCTYPE html>

<head>

    <!-- all meta tags here-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- all css files here -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/default_skin.css">
    <link rel="stylesheet" href="fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="container mt-50" id="page-two" style="">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row margin_bill">
            <div class="col-md-offset-1 col-md-5 bill-box">
                <div class="insurance_form bill_summary_title">
                    <div class="form_top">
                        <img src="img/form_title_bg.png" alt="form_title_bg">
                        <h2>Delivery Details</h2>
                    </div>
                    <div class="bill_summary_author">
                        <div class="name">ss</div>
                        <div class="total_price">
                            <h1><span>Total bill:</span><br> <strong>৳</strong>310.5</h1></div>
                        <div class="date">
                            <h4>DELIVERY DATE</h4>
                            <p class="renew_date">2019-01-28</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 bill-box">
                <div class="insurance_form delivery_details bill_summary" style="margin-top: 5px">
                    <div class="form_body">
                        <div class="row">
                            <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
                                <h3>BILL DETAILS</h3>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="car_type_content">
													Private Car  - 
													Up to 1300 CC </span>
                                            </td>
                                            <td>৳
                                                <span class="car_type_price">150</span></td>
                                        </tr>
                                        <tr>
                                            <td>Passenger Insurance</td>
                                            <td>৳
                                                <span class="passenger_price">90</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Driver Insurance</td>
                                            <td>৳
                                                <span class="driver_price">30</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Insurance Bill</th>
                                            <th>৳
                                                <span class="tot_price">270</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>+15% VAT</td>
                                            <td>৳
                                                <span class="vat_price">40.5</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Insurance bill(With vat)</th>
                                            <th>৳
                                                <span class="ins_with_vat">310.5</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Delivery Fee</td>
                                            <td>
                                                <span class="delivery_fee_price">Free</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Invoice Amount</th>
                                            <th>৳
                                                <span class="total">310.5</span>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form_submit_button">
                        <a href="index.html" id="bill_back_btn_arw">Back</a>
                        <button type="submit" id="Continue" name="">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- all js file here -->
    <script src="js/content_1.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>